.container-fluid_wed{
    background-color: white;
}

.container-fluid_wed h2{
    position: relative;
    text-align: center;
   margin-bottom: 20px;
    border: 2px solid #caddea;
   
}
   
  
.container-fluid_wed h2::before{
 content: '';
  border-top: 23px solid #caddea;
  border-right: 23px solid transparent;
  position: relative;
  top:55px ;
  left: -527px;
  }

  .wed strong{
    font-size: 35px;
    color: #caddea;
  }

.menu {
  width: 400px;
}


  .text-black{
    width: 830px;
    float: left;
  }


  .nol{
    background-color: #ffffff;;
  }

  .nol  :hover{
    background-color: #013056;
  }
  .nol :hover:before{
    content: '';
    width: 0; 
    height: 0;
    border-top: 27px solid #013056;
    border-right: 27px solid transparent;
    position: relative;
    top:88px ;
  
    }

    .text_1{
        display: none;
        width: 400px;
        

    }





    


 


  .text-ex-tooltip {
    position: relative;
    background-color: #fff;
  }

  .text-ex-tooltip:hover{
    background-color: #013056;
    
  }
  .text-ex-tooltip:hover::before{
    content: "";
    width: 0;
	  height: 0;
	border-top: 27px solid transparent;
	border-left: 40px solid #013056;
	border-bottom: 40px solid transparent;
  float: right;
  position: absolute;
  margin-left: 820px;
  background-color: #ffffff;
 
 
    
  }




  .tooltip-content p{
    color: black;
  }
  
  .text-ex-tooltip h4::before{
    color: #013056;
  }
  .text-ex-tooltip h4:hover{
    color: #ffffff;
  }
  .ap p {
   
    margin: -160px 20px 20px 300px;
 
   }
   .ap img{
   margin-left: -280px ;
   }
  .al p {
  
    margin: -150px 20px 20px 0px;
    
   }
  .am p {
  
    margin: -200px 20px 20px 0px;
   
   }
   .an p{
    margin: -100px 20px 20px 0px; 
  }
    
    strong{
      color:#caddea ;
      font-size: 40px;
    }
  .text-ex-tooltip .tooltip-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Фон подсказки */
    padding: 0rem 1.2rem; /* Отступы от края */
    top: -20%; /* Позиция подсказки */
    text-align: center;
    font-size: 1rem;
    color: #1ca8c4; /* Цвет текста */
    margin: -15px 40px 40px 900px;
    width: 500px;
  }
  .text-ex-tooltip:hover .tooltip-content {
    display: block;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: black;
  }

 
       
