.order3{
  background-color: var(--color_h1); ;
  background-image: url(../img/Bg3-1.svg);
  position: relative;
  height: 650px;

}
.wrapper th {
 padding: 0px 10px; 
  }
table th{
width: 400px;
height: 200px;
border: none;

color: azure;
position: relative;
}
.order3 p{
  color: azure;
}

.wrapper hr{
  color: azure;
  border: 2px solid white;
}

.wrapper p{
  position: absolute;
  border-radius: 50px;
  border: 5px solid #ffffff;
  width: 25px;
  height: 27px;
  background-color: #ffffff;
  color: #1b7fd0;
  margin: -20px 5px 5px -10px;
  display: inline;


 
}
.op{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
 
}
.order3 ul li{
 
  position:absolute ;
  text-decoration: none;
  list-style:none;
  display: inline;
  border-radius: 50px;
  border: 5px solid #ffffff;
  width: 25px;
  height: 27px;
  background-color: #ffffff;
  color: #4c565f;
  margin: -430px 0px 0px -290px;


}
.order3 .ip ul li{
  margin: -230px 0px 0px -290px;
}

.order3 ul{
  margin-top: 20px;
 display: inline;
 margin-left: 280px;
}

.order3 h2{
  position: relative;
  text-align: center;
 margin-bottom: 20px;
  border: 2px solid #caddea;
  background-color: #caddea;
}
.order3 h2::before{
  content: '';
width: 0; 
height: 0;
border-top: 23px solid #caddea;
border-right: 23px solid transparent;
position: relative;
top:55px ;
right: 179px;
}

.order3 h6{
  color: #ffffff;
  text-align: center;
}




